/* Tablet Responsive CSS */
@media (max-width: 767px){
	.header-section, .appointment{
		display: none;
	}	
	.navbar-section {
		background: #fff;
	    padding: 15px 0;
	}
	.navbar{
		direction: ltr !important;
	}
	.navbar-brand{
		display: inherit;
		width: 38%;
	}
	.navbar-toggler{
	    border: none;
	}
	.navbar-toggler span i{
		font-size: 28px;
		color: #00cce1;
	}
	.navbar-toggler:focus {
	    outline: none;
	    box-shadow: none;
	}
	.offcanvas-header {
	    background: #00cce1;
	}
	.offcanvas-title img{
	    width: 85%;
	}
	.navbar-nav {
		border-bottom: 1px solid #00cce1;
    	padding-bottom: 20px;
	    flex-direction: row;
	    gap: 0px !important;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
	    -webkit-clip-path: none;
	    clip-path: none;
	    font-size: 17px;
    	font-weight: 500;
	    color: #f69165;
	}
	.navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link:focus {
	    background: #fff;
	    color: #00cce1;
	}
	.info{
		display: inherit;
		margin-top: 30px;
		padding-left: 13px;
	}
	.info .icon-col{
		display: block;
	}
	.header-contact{
		gap: 10px;
		margin-bottom: 5px;
	}
	.header-icons {
	    text-align: center;
	}
	.header-icons .fa-solid, .header-icons .fa-regular {
	    font-size: 28px;
	}	
	.desktop-hide{
		display: inherit;
	}
	.appointment {
		border: none;
		margin-top: 20px;
		padding: 14px 25px;
    	text-align: center;
	    -webkit-clip-path: none;
	    clip-path: none;
	}	
	.appointment .appoint, .appointment .fa-regular {
	    font-size: 18px;
	}
	.appointment:hover {
	    background: #00cce1;
	}
	.appointment:hover .appoint, .appointment:hover .fa-regular {
	    color: #fff;
	}

	.hero-carousel .owl-item img {
	    display: none;
	}
	.height {
	    min-height: 40vh;
	}
	.hero-content h2 {
	    margin-top: 25px;
	}
	.second-item h2 {
	    font-size: 32px;
	}
	.second-item h1{
		margin-top: 0;
		font-size: 46px;
	}
	.hero-carousel .owl-nav button.owl-prev, .hero-carousel .owl-nav button.owl-next {
	    display: none;
	}
	.hero-carousel .owl-dots {
	    bottom: 6%;
	}
}


/* Mobile Responsive CSS */
@media (max-width: 575px){
	


@media (max-width: 425px) {
	


@media (max-width: 375px) {
	


@media (max-width: 350px) {
	

@media (max-width: 320px) {
	